body {
	font-family: Outfit;
	font-size: 15px;
	background-color: #D5E1EF;
}

#main {
	width: 320px;
	height: 500px;
	position:absolute;
	top: calc(50% - 250px);
	left: calc(50% - 160px);

	background-color: #FFFFFF;
	border-radius: 15px;
}

#main > * {
	width: 285px;
	margin: 17.5px;
	margin-bottom: 0px;
}

#image {
	height: 285px;
	border-radius: 5px;
}

#main > p {
	margin-top: 25px;
}

#header_commentaire {
	font-size: 22.5px;
	font-weight: bold;
}
